table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: black;
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: black;
}

tr:hover {
  background-color: #ff0000;
}

h2{
  text-align: center;
  color: white; 
}
